#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.app {
  width: 1280px;
}

.ql-editor {
  min-height: 200px;
}

.list-group-item {
  cursor: move;
}

.form-control:focus {
  box-shadow: none;
  border-color: #80bdff;
}

.card {
  border-radius: 10px;
}

.btn-primary {
  padding: 10px 20px;
}